Repository L-1124/Tarsio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

ruff:
  name: ruff
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system

basedpyright:
  name: basedpyright
  entry: uv run basedpyright
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --tests
  - --
  - -D
  - warnings

docs-build:
  name: docs build
  entry: uv run --group docs mkdocs build
  pass_filenames: false
  language: system
  args:
  - --strict

perf(codec): 减少映射编码路径分配与转换开销
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/core.rs
Due: cargo-fmt, cargo-clippy

docs(api): 补充 TraceNode 与 StructConfig 文档说明
  docs/api/functions.md
  docs/api/struct.md
  python/tarsio/_core.pyi
Due: docs-build

perf(binding): 去重 schema 查找并抽取通用热路径工具
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/schema.rs
  src/binding/utils.rs
  src/binding/validation.rs
Due: cargo-fmt, cargo-clippy

refactor(binding): 结构类型改为PyType句柄并补全unsafe注释
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/codec/trace.rs
  src/binding/compiler.rs
  src/binding/core.rs
  src/binding/schema.rs
  src/binding/utils.rs
  src/binding/validation.rs
Due: cargo-fmt, cargo-clippy

feat(struct): 补齐自动生成方法 __replace__/__match_args__/__rich_repr__
  docs/api/struct.md
  docs/usage/models.md
  python/tarsio/_core.pyi
  python/tests/test_structs.py
  src/binding/compiler.rs
  src/binding/schema.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

feat(struct): 支持 post-init
  docs/api/struct.md
  docs/usage/models.md
  python/tarsio/_core.pyi
  python/tests/test_structs.py
  src/binding/codec/de.rs
  src/binding/error.rs
  src/binding/schema.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

docs(docs): 重构文档分层并更新 Struct 指南
  docs/api/functions.md
  docs/api/inspect.md
  docs/api/struct.md
  docs/index.md
  docs/known_issues.md
  docs/usage/cli.md
  docs/usage/constraints.md
  docs/usage/inspect.md
  docs/usage/models.md
  docs/usage/schema_evolution.md
  docs/usage/serialization.md
  docs/usage/structs.md
  docs/usage/types.md
  mkdocs.yml
  src/binding/core.rs
  src/binding/meta.rs
  src/binding/mod.rs
  src/binding/schema.rs
Due: cargo-fmt, cargo-clippy, docs-build

refactor(typing): 使用泛型重载 field 签名
  python/tarsio/_core.pyi
Due: none

perf(cli): 优化大文件 Hex 解析与终端大体积数据打印的性能，复用数据准备逻辑
  python/tarsio/__main__.py
Due: ruff, ruff-format, basedpyright

feat(binding): 增强 buffer protocol 的编解码支持
  docs/usage/serialization.md
  docs/usage/structs.md
  docs/usage/types.md
  python/tarsio/_core.pyi
  python/tarsio/api.py
  python/tests/test_protocols.py
  python/tests/test_structs.py
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/utils.rs
  src/binding/validation.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

feat(cli): 优化输入读取与探测策略并完善文档测试
  docs/usage/cli.md
  python/tarsio/__main__.py
  python/tests/test_cli.py
Due: ruff, ruff-format, basedpyright, docs-build

test: 补充标签上限、最大递归深度等多项边界场景测试
  python/tests/test_protocols.py
  python/tests/test_schema.py
  python/tests/test_structs.py
Due: ruff, ruff-format, basedpyright

fix(codec): 统一raw互嵌语义并修复递归解码栈溢出
  docs/api/struct.md
  python/tarsio/_core.pyi
  python/tests/test_protocols.py
  python/tests/test_structs.py
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/compiler.rs
  src/binding/core.rs
  src/binding/schema.rs
  src/binding/utils.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

feat(schema): 支持字段级 wrap_simplelist 并移除类级 simplelist
  docs/api/struct.md
  docs/usage/serialization.md
  python/tarsio/_core.pyi
  python/tests/test_protocols.py
  python/tests/test_structs.py
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/compiler.rs
  src/binding/core.rs
  src/binding/metaclass.rs
  src/binding/parse.rs
  src/binding/schema.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

refactor(codec): trace改为显式栈并优化递归深度校验
  python/tests/test_cli.py
  python/tests/test_protocols.py
  python/tests/test_structs.py
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/trace.rs
  src/binding/utils.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy

refactor(codec): 升级错误模型并补充上下文字段
  src/codec/error.rs
  src/codec/reader.rs
Due: cargo-fmt, cargo-clippy

perf(codec): 提取reader边界检查helper
  src/codec/reader.rs
Due: cargo-fmt, cargo-clippy

refactor(binding-codec): 拆分serialize_impl与deserialize_value
  src/binding/codec/de.rs
  src/binding/codec/ser.rs
Due: cargo-fmt, cargo-clippy

chore(release): 发布 v0.5.0
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/tarsio/__init__.py
  uv.lock
Due: ruff, ruff-format, basedpyright

refactor(field): 移除冗余的default参数重载定义
  python/tarsio/_core.pyi
Due: none

feat(schema): 对齐泛型语义并支持Struct参数化具体化
  docs/usage/inspect.md
  python/tarsio/_core.pyi
  python/tests/test_schema.py
  python/tests/test_structs.py
  python/tests/test_typing.py
  src/binding/compiler.rs
  src/binding/parse.rs
  src/binding/schema.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy, docs-build

chore(release): 发布 v0.5.1
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/tarsio/__init__.py
  uv.lock
Due: ruff, ruff-format, basedpyright

docs(dev): 更新 Rust 扩展验证流程
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix(api): 统一公共 decode 参数顺序
  README.md
  docs/usage/serialization.md
  python/tarsio/api.py
Due: ruff, ruff-format, basedpyright, docs-build

refactor(binding): 拆分 schema 并保留 IR 语义
  python/tests/test_protocols.py
  python/tests/test_structs.py
  python/tests/test_typing.py
  src/binding/codec/de.rs
  src/binding/codec/raw.rs
  src/binding/codec/ser.rs
  src/binding/codec/trace.rs
  src/binding/compiler.rs
  src/binding/core.rs
  src/binding/generics.rs
  src/binding/instantiate.rs
  src/binding/ir.rs
  src/binding/mod.rs
  src/binding/schema.rs
  src/binding/validation.rs
  src/codec/reader.rs
Due: ruff, ruff-format, basedpyright, cargo-fmt, cargo-clippy

docs: 精简用户文档导航
  docs/known_issues.md
  docs/usage/cli.md
  docs/usage/constraints.md
  docs/usage/inspect.md
  docs/usage/schema_evolution.md
  docs/usage/structs.md
  docs/usage/types.md
  mkdocs.yml
Due: docs-build

fix(cli): 探测 SimpleList 内嵌列表载荷
  python/tarsio/__main__.py
  python/tests/test_cli.py
Due: ruff, ruff-format, basedpyright

chore(pyproject): 修复许可证格式
  pyproject.toml
Due: none

chore(release): 发布 0.5.2
  .github/workflows/release.yml
  .github/workflows/testing.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/tarsio/__init__.py
  uv.lock
Due: ruff, ruff-format, basedpyright

fix(binding): 兼容 Python 3.14 注解命名空间
  src/binding/metaclass.rs
Due: cargo-fmt, cargo-clippy

chore(release): 发布 0.5.3
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.(py|pyi)$ and \.py$
  ruff-format: any of: \.(py|pyi)$ and \.py$
  basedpyright: any of: \.(py|pyi)$ and \.py$
  cargo-fmt: any of: ^src/ and \.rs$
  cargo-clippy: any of: ^src/ and \.rs$
  docs-build: any of: ^docs/
